




<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Rubrica Dipartimento</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with menu icon">
     <mat-icon>more_vert</mat-icon> 
    <!--  menu -->
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item><a [routerLink]="['/home']">Home</a></button>
      <button mat-menu-item><a [routerLink]="['/rubrica']">Rubrica</a></button>
      <button mat-menu-item><a href="/login">Login</a></button>
      <button mat-menu-item><a href="/sede">Sedi</a></button>
      <button mat-menu-item><a href="/testbe">Test BE</a></button>
    </mat-menu>
  </mat-toolbar-row>
  
</mat-toolbar>




<div>
  <router-outlet style="width:90%"></router-outlet>
</div>
