<div fxLayout="row" fxLayoutWrap class="divGlobal">
  <div fxFlex="5" fxLayout="column">
    <app-side-bar></app-side-bar>
  </div>

  <div fxFlex="35" fxLayout="column" class="topBottomLeftBordefRadius">
    <div class="container">
      <div fxLayout="row" fxLayoutWrap>
        <div fxFlex="100" fxLayout="column">
          <app-cerca></app-cerca>
        </div>
      </div>

      <div fxLayout="row" fxLayoutWrap class="divCenter">
        <div fxFlex="100" fxLayout="column" class="divCenter">
          <app-item-aoo [itemDst]="itemSrcCC"></app-item-aoo>
          <app-item-aoo [itemDst]="itemSrcVCDV"></app-item-aoo>
          <app-item-aoo [itemDst]="itemSrcUC"></app-item-aoo>
          <app-item-aoo [itemDst]="itemSrcUCE"></app-item-aoo>
          <app-item-aoo [itemDst]="itemSrcONA"></app-item-aoo>
        </div>
      </div>
    </div>
  </div>

  <div fxFlex="60" fxLayout="column" class="divCenter" style="border: 1px solid black;">
    <div fxLayout="row" fxLayoutWrap>
      <div fxFlex="100" fxLayout="column">
        <app-topleftbar></app-topleftbar>
      </div>
    </div>
    <div fxLayout="row" fxLayoutWrap>
      <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
        <fa-icon [icon]="faAddressBook" size="10x" [style.fill-opacity]=".2"></fa-icon>
        <app-sottouffici></app-sottouffici>
      </div>
    </div>
  </div>
</div>

<router-outlet />
