.topBottomLeftBordefRadius {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: var(--centerColor);
}

.container app-item-aoo {
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  /* Opzionale: aggiungi spaziatura tra i componenti */
}
