
.container {
  /* position: relative; */
  /* display: flex; */
  /* align-items: flex-start; */
  /* Allinea i figli in alto */
  border: 1px solid #ccc;
  /* Opzionale: aggiungi un bordo */
  border-radius: 10px;
  /* Imposta il raggio del bordo arrotondato */
  /* padding: 10px; */
  /* Opzionale: aggiungi spaziatura interna */
  background-color: red;
  width: 99%;
  padding: 0px;
}

.container .child {
  background-color: white;
  border: 1px solid red;
  /* #ccc; */
  margin-left: 2em;
  border-radius: 10px;
  margin-top: 0px;
  padding-top: 0px;
  width: 99%;
  padding: 10px;
}

.container .panelBody {
  background-color: white;
  border: 1px solid red;
  /* #ccc; */
  margin-left: 4em;
  border-radius: 10px;
  margin: 0px;
  padding: 0px;
  width: 99%;
  padding: 10px;
}

.itemRubrica {
  background-color: rgba(255, 255, 255, 0.5);
  /* Colore blu trasparente */
  transform: translateX(0px);
  /* Traslazione sull'asse x */
}


/************************************************/
.accordion_container {
  padding: 1px 1px 1px 0px;
  background-color: red;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 5px;
}

.accordion>input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

.accordion .content {
  overflow-y: hidden;
  height: 0;
  transition: height 0.3s ease;
}

.accordion>input[type="checkbox"]:checked~.content {
  height: auto;
  overflow: visible;
}

.accordion label {
  display: block;
}

.accordion {
  /* margin-bottom: 1em; */
  /* border: 1px solid red; */
  margin-left: 3rem;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}

.accordion>input[type="checkbox"]:checked~.content {
  padding: 15px;
  /* border: 1px solid #e8e8e8; */
  border-top: 0;
}

.accordion .handle {
  margin: 0;
  /* font-size: 1.125em; */
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2em;
}

.accordion label {
  color: #333;
  cursor: pointer;
  font-weight: bold;
  padding: 15px;
  /* background: #e8e8e8; */
}

.accordion label:hover,
.accordion label:focus {
  background: #d8d8d8;
}

.smallLabelFont {
  font-size: 1.60rem;
}

/* .accordion .handle label:before {
  font-family: 'fontawesome';
  content: "\f054";
  display: inline-block;
  margin-right: 10px;
  font-size: .58em;
  line-height: 1.556em;
  vertical-align: middle;
} */

/* .accordion>input[type="checkbox"]:checked~.handle label:before {
  content: "\f078";
} */

.accordion {
  /* max-width: 65em; */
}

.accordion p:last-child {
  margin-bottom: 0;
}
