<!-- <div class="container">
  <div class="child">
    <div class="itemRubrica" (click)="leggiSottoAlbero(itemDst.codiceUO)" style="cursor: pointer;">
      <p [ngClass]="classeBig">{{itemDst.riga1}} ({{itemDst.codiceUO}})</p>
      <p [ngClass]="classeRedux">{{itemDst.riga2}}</p>
      <p [ngClass]="classeRedux">{{itemDst.riga3}}</p>
      <div *ngFor="let child of itemDst.children">
        <app-item-aoo [itemDst]="child"></app-item-aoo>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="accordion_container" style="background-color: {{itemDst.coloreSfondoBase}}">
  <section class="accordion">
    <input type="checkbox" name="collapse" id="{{itemDst.codiceUO}}">
    <h2 class="handle">
      <label for="{{itemDst.codiceUO}}">{{itemDst.riga1}}<br>
        <span class="smallLabelFont">{{itemDst.riga2}}</span>
      </label>
    </h2>
    <div class="content">
      <p><strong>Overall Impression:</strong> A pale, bitter, highly attenuated and well carbonated Trappist ale,
        showing
        a fruity-spicy Trappist yeast character, a spicy-floral hop profile, and a soft, supportive grainy-sweet malt
        palate.</p>
      <p><strong>History:</strong> While Trappist breweries have a tradition of brewing a lower-strength beer as a
        monk’s
        daily ration, the bitter, pale beer this style describes is a relatively modern invention reflecting current
        tastes. Westvleteren first brewed theirs in 1999, but replaced older lower-gravity products.</p>
    </div>
  </section>
</div> -->

<div class="custom-card-container">
  <!-- Parte sinistra colorata (simula la sovrapposizione) -->
  <div class="left-decoration" [ngStyle]="{ 'background-color': itemDst.coloreSfondoBase }"
  ></div>

  <!-- Card principale -->
  <mat-card class="custom-card" [ngStyle]="{'fill-opacity': itemDst.opacita}">
    <mat-card-content (click)="leggiSottoAlbero(itemDst.codiceUO)" style="cursor: pointer;">
      <h3 [ngClass]="classeBig">{{itemDst.riga1}} ({{itemDst.codiceUO}})</h3>
      <p [ngClass]="classeRedux">{{itemDst.riga2}}</p>
      <p [ngClass]="classeRedux">{{itemDst.riga3}}</p>
    </mat-card-content>
  </mat-card>

<!--   <div fxLayout="row" fxLayoutAlign="start center">
    <div *ngIf="!itemDst.isChild">
          <div *ngFor="let child of itemDst.children">
          <app-item-aoo [itemDst]="child" style="margin: 10px"></app-item-aoo>
          </div>
    </div>
  </div> -->

</div>
  
  

<!-- <section class="accordion">
    <input type="checkbox" name="collapse2" id="handle2">
    <h2 class="handle">
      <label for="handle2">26B. Belgian Dubbel</label>
    </h2>
    <div class="content">
      <p><strong>Overall Impression:</strong> A deep reddish-copper, moderately strong, malty, complex Trappist ale with
        rich malty flavors, dark or dried fruit esters, and light alcohol blended together in a malty presentation that
        still finishes fairly dry.</p>
      <p><strong>History:</strong> Originated at monasteries in the Middle Ages, and was revived in the mid-1800s after
        the Napoleonic era.</p>
    </div>
  </section>
  <section class="accordion">
    <input type="checkbox" name="collapse2" id="handle3">
    <h2 class="handle">
      <label for="handle3">26C. Belgian Tripel</label>
    </h2>
    <div class="content">
      <p><strong>Overall Impression:</strong> A pale, somewhat spicy, dry, strong Trappist ale with a pleasant rounded
        malt flavor and firm bitterness. Quite aromatic, with spicy, fruity, and light alcohol notes combining with the
        supportive clean malt character to produce a surprisingly drinkable beverage considering the high alcohol level.
      </p>
      <p><strong>History:</strong> Originally popularized by the Trappist monastery at Westmalle.</p>
    </div>
  </section>
</div> -->
