<div class="divSottuffici" *ngFor="let item of childrenItems">
  <div class="accordion_container" style="background-color: {{item.coloreSfondo}};">
    <section class="accordion">
      <input type="checkbox" name="collapse" id="{{item.codiceUfficio}}" (click)="leggiSottoAlbero(item.codiceUfficio)">
      <h2 class="handle">
        <label for="{{item.codiceUfficio}}">{{item.nomeUfficio}}<br>
          <span class="smallLabelFont">{{item.nomeTitolare}}</span>
        </label>
      </h2>
    </section>
  </div>
</div>
