<div class="divSottuffici" *ngFor="let item of ufficioSelezionato.children">
    <div class="divCardSedi" style="background-color: {{item.coloreSfondo}};">
        <div class="divCardButtonBar">
            <ul class="nav nav-pills flex-column mx-auto my-auto" *ngIf="visualizeActionBar">
                <li class="nav-item">
                    <fa-icon [icon]="faPlusCircle" size="1x" (click)="onAddClick(item.codiceUfficio)"></fa-icon>
                </li>
                <li class="nav-item">
                    <fa-icon [icon]="faEdit" size="1x" (click)="onEditClick(item.codiceUfficio)"></fa-icon>
                </li>
                <li class="nav-item">
                    <fa-icon [icon]="faTrashAlt" size="1x" (click)="onDelClick()"></fa-icon>
                </li>
            </ul>
        </div>
        <section class="divCardSediContent">
            <input type="checkbox" name="collapse" id="{{item.codiceUfficio}}"
                (click)="leggiSottoAlbero(item.codiceUfficio)">
            <h2 class="handle">
                <label for="{{item.codiceUfficio}}">{{item.nomeUfficio}}<br>
                    <span class="smallLabelFont">{{item.nomeTitolare}}</span>
                </label>
            </h2>
        </section>
    </div>
</div>
