<div class="row">
    <div class="col-sm-12 col-md-5">
        <vvfrubrica-cerca></vvfrubrica-cerca>
    </div>
    <div class="col-sm-12 col-md-7">
        <vvfrubrica-toprightbar [checkTopRightSelected]="leftComponentSelected"></vvfrubrica-toprightbar>
    </div>
</div>
<div class="row">
    <!-- <div class="col-sm-12 col-md-5 vh-100"  style="overflow-x: hidden; overflow-y: auto;"> -->
    <!-- <div class="col-sm-12 col-md-5 h-100 overflow-y-scroll" style="overflow-y: visible;"> -->
    <!-- <div class="col-sm-12 col-md-5"  style="max-height: 100vh; overflow-y: hidden;"> -->
        <div class="col-sm-12 col-md-5"  style="max-height: 100vh; overflow-y: auto;">
        <vvfrubrica-uffici *ngFor="let item of homeItems" [itemDst]="item"
            (back)="receiveBack($event)"></vvfrubrica-uffici>
    </div>
    <div class="col-sm-12 col-md-7">
        <!-- <div class="row ">
            <div class="col mx-auto" style="text-align: center;">
                <fa-icon [icon]="faAddressBook" size="10x" [style.fill-opacity]=".2" class="mx-auto"></fa-icon>
            </div>
        </div> -->
        <div class="row">
            <div class="col text-center">
                <div *ngIf="leftComponentSelected=='ufficiDipendenti'">
                    <h1>
                        <fa-icon [icon]="faAddressBook" size="1x" [style.fill-opacity]=".2" class="mx-auto"></fa-icon>
                        Elenco Uffici
                    </h1>
                    <hr>
                    <vvfrubrica-sottouffici (clickSubOffice)="clickSubOffice($event)" class="text-start">
                    </vvfrubrica-sottouffici>
                </div>
                <div *ngIf="leftComponentSelected=='componenti'" class="divPersonaleContainer">
                    <vvfrubrica-personale></vvfrubrica-personale>
                </div>
                <div class="divBorder" *ngIf="leftComponentSelected=='descrizione'"
                    style="border-color: {{ufficioSelezionato?.coloreSfondo}};">
                    <h2 class="text-center">
                        <fa-icon [icon]="faAddressBook" size="1x" [style.fill-opacity]=".2" class="mx-auto"></fa-icon>
                        Descrizione
                    </h2>
                    <hr>
                    {{ufficioSelezionato?.descrizioneUfficio}}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <vvfrubrica-uffici-form></vvfrubrica-uffici-form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>
