<!-- <div class="divTopLeft">
  <button>Uffici dipendenti</button>
  <button>Componenti</button>
  <button>Descrizione</button>
</div> -->

<mat-button-toggle-group [(ngModel)]="topLeftBar" name="topLeftBar" id="topLeftBar" aria-label="Font Style">
  <mat-button-toggle value="ufficiDipendenti" (click)="buttonSelected()"
    [className]="topLeftBar=='ufficiDipendenti'?'selectedButton':''">Uffici dipendenti</mat-button-toggle>
  <mat-button-toggle value="componenti" (click)="buttonSelected()"
    [className]="topLeftBar=='componenti'?'selectedButton':''">Componenti</mat-button-toggle>
  <mat-button-toggle value="descrizione" (click)="buttonSelected()"
    [className]="topLeftBar=='descrizione'?'selectedButton':''">Descrizione</mat-button-toggle>
</mat-button-toggle-group>
<!-- {{topLeftBar}} -->
