h1{
  text-align: center;
}

.divPersonale {
  display: flex;
  align-items: flex-start;
  /* width: 100%; */
  /* padding: 1rem; */
}

.divPersonale .divPersonaleChild {
  border: 1px solid red;
  background-color: white;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: flex-start;
}

.divPersonaleChild div {
  margin-left: 0.5rem;
}

.divPersonaleChild div>p {
  font-size: 1.2rem;;
}

.circle {
  display: inline-block;
  line-height: 0px;
  border-radius: 50%;
  font-size: 32px;
  background-color: green;
  color: white;
}

.circle span {
  display: inline-block;
  padding-top: 50%;
  padding-bottom: 50%;
  margin-left: 8px;
  margin-right: 8px;
}
