/* You can add global styles to this file, and also import other style files */
*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

:root {
    --centerColor: #f4f4ed;
    --sideBarColor: #ac1a17;
    --topLeftBarSelectedButton: #ab201d;

    font-family: Titillium-Web, sans-serif;
    /* font-family: "Noto Sans", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol"; */
    /* -webkit-font-smoothing: antialiased; */
    /* -moz-osx-font-smoothing: grayscale; */
}

html,
body {
    margin: 0;
    padding: 0;
    width: 99.9%;
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.divCenter {
    background-color: var(--centerColor);
}

.divGlobal {
    background-color: var(--sideBarColor);
}

.topBottomLeftBordefRadius {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: var(--centerColor);
}

.divCardSedi {
    padding: 1px 1px 1px 0px;
    background-color: red;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.divCardSediContent>input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}

.divCardSediContent .content {
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
}

.divCardSediContent>input[type="checkbox"]:checked~.content {
    height: auto;
    overflow: visible;
}

.divCardSediContent label {
    display: block;
}

.divCardSediContent {
    /* margin-bottom: 1em; */
    /* border: 1px solid red; */
    margin-left: 3rem;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
}

.divCardSediContent>input[type="checkbox"]:checked~.content {
    padding: 15px;
    /* border: 1px solid #e8e8e8; */
    border-top: 0;
}

.divCardSediContent .handle {
    margin: 0;
    /* font-size: 1.125em; */
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2em;
}

.divCardSediContent label {
    color: #333;
    cursor: pointer;
    font-weight: bold;
    padding: 15px;
    /* background: #e8e8e8; */
}

.divCardSediContent label:hover,
.divCardSediContent label:focus {
    background: #d8d8d8;
}

.smallLabelFont {
    font-size: 1.60rem;
}

.accordion p:last-child {
    margin-bottom: 0;
}
