<div class="row">
    <div class="col-sm-12 col-md-5">
        <vvfrubrica-cerca></vvfrubrica-cerca>
    </div>
    <div class="col-sm-12 col-md-7">
        <vvfrubrica-toprightbar [checkTopRightSelected]="leftComponentSelected"></vvfrubrica-toprightbar>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-5">
        <vvfrubrica-uffici *ngFor="let item of homeItems" [itemDst]="item"
            (back)="receiveBack($event)"></vvfrubrica-uffici>
    </div>

    <div class="col-sm-12 col-md-7">
        <div class="row">
            <div class="col text-center">
                <div *ngIf="leftComponentSelected=='ufficiDipendenti'">
                    <h1>
                        <fa-icon [icon]="faAddressBook" size="1x" [style.fill-opacity]=".2" class="mx-auto"></fa-icon>
                        Elenco Uffici
                    </h1>
                    <hr>
                    <vvfrubrica-sottouffici (clickSubOffice)="clickSubOffice($event)" class="text-start">
                    </vvfrubrica-sottouffici>
                </div>
                <div *ngIf="leftComponentSelected=='componenti'" class="divPersonaleContainer">
                    <vvfrubrica-personale></vvfrubrica-personale>
                </div>
                <div class="divBorder" *ngIf="leftComponentSelected=='descrizione'"
                    style="border-color: {{ufficioSelezionato?.coloreSfondo}};">
                    <h2 class="text-center">
                        <fa-icon [icon]="faAddressBook" size="1x" [style.fill-opacity]=".2" class="mx-auto"></fa-icon>
                        Descrizione
                    </h2>
                    <hr>
                    {{ufficioSelezionato?.descrizioneUfficio}}
                </div>
            </div>
        </div>
    </div>
</div>
