<div class="divCardSedi" style="background-color: {{itemDst.coloreSfondo}};">
    <div class="divCardButtonBar">
        <ul class="nav nav-pills flex-column mx-auto my-auto" *ngIf="visualizeActionBar">
                <li class="nav-item">
                <fa-icon [icon]="faPlusCircle" size="1x" (click)="onAddClick()"></fa-icon>
            </li>
            <li class="nav-item">
                <fa-icon [icon]="faEdit" size="1x" (click)="onEditClick()"></fa-icon>
            </li>
            <li class="nav-item">
                <fa-icon [icon]="faTrashAlt" size="1x" (click)="onDelClick()"></fa-icon>
            </li>
        </ul>
    </div>
    <section class="divCardSediContent">
        <input type="checkbox" name="collapse" id="{{itemDst.codiceUfficio}}" (click)="leggiSottoAlbero()">
        <h2 class="handle">
            <label for="{{itemDst.codiceUfficio}}">{{itemDst.nomeUfficio}}<br>
                <span class="smallLabelFont">{{itemDst.nomeTitolare}}</span>
            </label>
        </h2>
        <div *ngIf="idSelectedOfficeComponent==itemDst.codiceUfficio">
            <div *ngFor="let office of elencoUfficiSelezionati">
                <p (click)="onClickUfficioSelezionato()" style=" border-color: {{ufficioSelezionato?.coloreSfondo}};"
                    *ngIf="office?.codiceUfficioSuperiore!=''">
                    {{office?.nomeUfficio}}
                </p>
            </div>
        </div>
    </section>
</div>
