<div class="divCardSedi" style="background-color: {{itemDst.coloreSfondo}};">
    <section class="divCardSediContent">
        <input type="checkbox" name="collapse" id="{{itemDst.codiceUfficio}}" (click)="leggiSottoAlbero()">
        <h2 class="handle">
            <label for="{{itemDst.codiceUfficio}}">{{itemDst.nomeUfficio}}<br>
                <span class="smallLabelFont">{{itemDst.nomeTitolare}}</span>
            </label>
        </h2>
        <div *ngIf="idRootOfficeClick==itemDst.codiceUfficio">
            <div *ngIf="ufficioSelezionato?.codiceUfficioSuperiore!=''">
                <p *ngIf="ufficioSelezionatoPrecedente?.codiceUfficioSuperiore!=''"
                    (click)="onClickUfficioSelezionato()" style="border-color: {{ufficioSelezionato?.coloreSfondo}};">
                    {{ufficioSelezionatoPrecedente?.nomeUfficio}}
                </p>
                <p *ngIf="ufficioSelezionato?.codiceUfficioSuperiore!=''" (click)="onClickUfficioSelezionato()"
                    style="border-color: {{ufficioSelezionato?.coloreSfondo}};">
                    {{ufficioSelezionato?.nomeUfficio}}
                </p>
            </div>

            <!-- <hr>
            <div *ngFor="let office of elencoUfficiSelezionati">
                <p (click)="onClickUfficioSelezionato()" style=" border-color: {{ufficioSelezionato?.coloreSfondo}};"
                    *ngIf="office?.codiceUfficioSuperiore!=''">
                    {{office?.nomeUfficio}}
                </p>
            </div> -->
        </div>
    </section>
</div>
