<div class="accordion_container" style="background-color: {{itemDst.coloreSfondo}};">
  <section class="accordion">
    <input type="checkbox" name="collapse" id="{{itemDst.codiceUfficio}}"
      (click)="leggiSottoAlbero(itemDst.codiceUfficio)">
    <h2 class="handle">
      <label for="{{itemDst.codiceUfficio}}">{{itemDst.nomeUfficio}}<br>
        <span class="smallLabelFont">{{itemDst.nomeTitolare}}</span>
      </label>
    </h2>
    <div *ngIf="ufficioSelezionato?.codiceUfficioSuperiore!=''">
      <div *ngIf="codiceUfficioSelezionatoPadre==itemDst.codiceUfficio" class="">
        <p  (click)="onClickUfficioSelezionatoPrecedente()">{{ufficioSelezionatoPrecedente.nomeUfficio}}</p>
        <p  (click)="onClickUfficioSelezionato()">{{ufficioSelezionato.nomeUfficio}}</p>
      </div>
    </div>
    <!-- <div class="content">
      <p><strong>Descrizione:</strong>{{itemDst.descrizioneUfficio}}</p>
    </div> -->
  </section>
</div>
