<form>
    <div class="toggle">
        <input type="radio" [(ngModel)]="checkTopRight" name="checkTopRight" id="idRadioUfficio"
            value="ufficiDipendenti" (change)="onButtonClick()" />
        <label for="idRadioUfficio">Uffici dipendenti</label>
        <input type="radio" [(ngModel)]="checkTopRight" name="checkTopRight" id="idRadioComponenti" value="componenti"
            (change)="onButtonClick()" />
        <label for="idRadioComponenti">Componenti</label>
        <input type="radio" [(ngModel)]="checkTopRight" name="checkTopRight" id="idRadioDescizione" value="descrizione"
            (change)="onButtonClick()" />
        <label for="idRadioDescizione">Descrizione</label>
    </div>
</form>
{{checkTopRight}}
