<div class="toggle">
    <input type="radio" [(ngModel)]="checkTopRight" name="checkTopRight" id="idRadioUfficio" value="ufficiDipendenti"
        checked="checked" (change)="onButtonClick()" checked="checkTopRight=='ufficiDipendenti'?'checked':''" />
    <label for="idRadioUfficio">Uffici dipendenti</label>
    <input type="radio" [(ngModel)]="checkTopRight" name="checkTopRight" id="idRadioComponenti" value="componenti"
        (change)="onButtonClick()" checked="checkTopRight=='componenti'?'checked':''" />
    <label for="idRadioComponenti">Componenti</label>
    <input type="radio" [(ngModel)]="checkTopRight" name="checkTopRight" id="idRadioDescizione" value="descrizione"
        checked="checkTopRight=='descrizione'?'checked':''" (change)="onButtonClick()" />
    <label for="idRadioDescizione">Descrizione</label>
</div>

<!-- <mat-button-toggle-group [(ngModel)]="topLeftBar" name="topLeftBar" id="topLeftBar" aria-label="Font Style">
    <mat-button-toggle checked="checked" value="ufficiDipendenti" (click)="onButtonClick()" id="pippo"
        class="selectedButton" [className]="topLeftBar=='ufficiDipendenti'?'selectedButton':''">Uffici
        dipendenti</mat-button-toggle>
    <mat-button-toggle value="componenti" (click)="onButtonClick()"
        [className]="topLeftBar=='componenti'?'selectedButton':''">Componenti</mat-button-toggle>
    <mat-button-toggle value="descrizione" (click)="onButtonClick()"
        [className]="topLeftBar=='descrizione'?'selectedButton':''">Descrizione</mat-button-toggle>
</mat-button-toggle-group> -->
