/* TOGGLE STYLING */
.toggle {
    margin: 0 0 1.5rem;
    box-sizing: border-box;
    font-size: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    margin-top: 1rem;
}

.toggle input {
    width: 0;
    height: 0;
    position: absolute;
    left: -9999px;
    flex-grow: 1;
}

.toggle input+label {
    margin: 0;
    padding: 0.75rem 2rem;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    border: solid 1px #000;
    /* background-color: #FFF; */
    font-size: 1rem;
    line-height: 140%;
    font-weight: 600;
    text-align: center;
    /* box-shadow: 0 0 0 rgba(255, 255, 255, 0); */
    transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
    /* ADD THESE PROPERTIES TO SWITCH FROM AUTO WIDTH TO FULL WIDTH */
    /*flex: 0 0 50%; display: flex; justify-content: center; align-items: center;*/
    /* ----- */
    flex-grow: 1;
    cursor: pointer;
}

.toggle input+label:first-of-type {
    border-radius: 30px 0 0 30px;
    border-right: none;
}

.toggle input+label:last-of-type {
    border-radius: 0 30px 30px 0;
    border-left: none;
}

.toggle input:hover+label {
    border-color: #213140;
}

.toggle input:checked+label {
    background-color: var(--topLeftBarSelectedButton);;
    color: #FFF;
    /* box-shadow: 0 0 10px rgba(102, 179, 251, 0.5); */
    /* border-color: #4B9DEA; */
    z-index: 1;
}

.toggle input:focus+label {
    outline: dotted 1px #CCC;
    outline-offset: 0.45rem;
}

@media (max-width: 800px) {
    .toggle input+label {
        padding: 0.75rem 0.25rem;
        flex: 0 0 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.divTopRightBar {
    border: 1px solid black;
    margin-top: 1rem;
    margin-right: 1rem;
    vertical-align: middle;
    border-radius: 30px;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    align-items: stretch;
}

.divTopRightBar li {
    border: 1px solid black;
    display: inline;
    margin: 0rem;
    padding: 1rem;
    flex-grow: 1;
    text-align: center;
}

.divTopRightBar li:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.divTopRightBar li:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.divTopRightBar li:active {
    background-color: var(--topLeftBarSelectedButton);
}

mat-button-toggle-group {
    margin: 15px;
    margin-right: 10px;
    padding-right: 10px;
    height: 50px;
    border: 1px solid black;
    border-radius: 30px;
    width: 99%;
    background-color: var(--centerColor);
    /* align-items: center; */
    /* vertical-align: middle; */
    /* text-align: center; */
}

mat-button-toggle {
    margin: 0;
    height: auto;
    padding-top: 12px;
    /* border: 1px solid black; */
    width: 33%;
    vertical-align: middle;
}

/* mat-button-toggle-group :nth-child(1) { */
.selectedButton {
    background-color: var(--topLeftBarSelectedButton);
}
